.vl {
    border-left: 6px solid #ffffff;
    height: 350px;
    margin-left: 80px;
    margin-top: -10px;
  }

.dot {
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 70px;
    margin-top: 80px;
  }

  #about-text-container {
    margin-left: 150px;
  }

  #header-about h1, #header-about-one h1 {
    margin-top: -385px;
  }

  #paragraph-about, #paragraph-about-one, #paragraph-about-twice {
    width: 1200px;
    text-transform: capitalize;
  }

.decor-section-one {
    margin-top: 60px;
}

.decor-section-second {
    margin-top: -10px;
}

#header-about-twice h1 {
    margin-top: -690px;
}

.marketing-section, .decor-section-last {
    margin-bottom: 300px;
}

.decor-section-last {
    margin-top: 90px;
}