.projects-lists {
    display: flex;
}

#about-me-link-header {
    padding-left: 130px;
}

#photo-container img {
    width: 400px;
    height: 300px;
}

.project-info-container {
    width: 350px;
    height: 290px;
    background-color: #fafafa;
    margin-top: -328px;
    margin-left: 400px;
    color: #000;
}

.community-science-museun-preview {
    display: none;
}

#project-header h1, #project-text h1 {
    font-size: 25px;
    text-align: center;
}

#project-text p {
    font-size: 20px;
    text-align: center;
}