.quickly-infomation-thing {
    margin: 30px 0px 0px 350px;
}

.quickly-infomation-thing h1 {
    font-size: 40px;
    text-transform: capitalize;
    margin: 40px 0px 100px 0px;
}

.contact-container {
    background-color: #ffffff;
    width: 1000px;
    margin-left: 250px;
    text-align: center;
    border-radius: 20px;
    color: #000000;
}


#contact-links a {
    text-decoration: none;
    color: red;
}

#about-me-link-header {
    margin-left: 20px;
}