#projects-index-body-link a, #about-index-body-link a, #hire-index-body-link a {
    text-decoration: none;
    color: #ffffff;
}

.buttons-index {
    display: flex;
}

#about-index-body-link, #hire-index-body-link {
    margin-left: 100px;
}

#projects-index-body-link {
    margin-left: 300px;
}